chmod 0750 /sbin/FusterCluck_post_boot.sh

service fustercluck /system/bin/sh /sbin/FusterCluck_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:sys.boot_completed=1
    start fustercluck
